@{
    Layout = null;
}
@model WebStore.Models.Employee

<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div>
        <ul>
            <li><a asp-action="Index">Главная</a></li>
            <li><a asp-action="Employees">Сотрудники</a></li>
        </ul>
        <hr />
    </div>
    <div>        
        <form method="post" id="save">
            ID: <input type="number" value="@Model.Id" readonly="readonly" name="id" form="del save"><br>
            Имя: <input type="text" value="@Model.FirstName" name="FirstName"><br>
            Фамилия: <input type="text" value="@Model.LastName" name="LastName"><br>
            Возраст: <input type="number" value="@Model.Age" name="Age"><br>
            <input type="submit" value="Сохранить" />
        </form>
        <form asp-action="DeleteEmployee" method="post">
            <input type="number" value="@Model.Id" readonly="readonly" name="id" />
            <input type="submit" value="Удалить" />
        </form>
    </div>
    <div><hr /><p><h3>&copy;@DateTime.Now.Year</h3></p></div>
</body>
</html>
