@model IEnumerable<WebStore.Models.Employee>

@section Styles {
    <partial name="Partial/_Index_Styles" />
}
@section Scripts {
    <partial name="Partial/_Index_Scripts" />
}
<!-- Single Blog Post -->

<div class="single_post">
    <div class="container">
        <div class="row">
            <a asp-action="NewEmployee">Добавить</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Возраст</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.LastName</td>
                            <td>@item.FirstName</td>
                            <td>@item.Age</td>
                            <td><a asp-action="Details" asp-route-id="@item.Id">Детали</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



