@model ShopViewModel
<div class="col-lg-3">

    <!-- Shop Sidebar -->
    <div class="shop_sidebar">
        <div class="sidebar_section">
            <div class="sidebar_title">Категории</div>
            <ul class="sidebar_categories">
                @foreach (var item in Model.Categories)
                {
                    if (item.CildCategory.Count > 0)
                    {
                        <li>
                            <a asp-controller="Shop" asp-action="Index" asp-route-CategoryID="@item.Id">@item.Name</a>
                            @foreach (var child in item.CildCategory)
                            {
                                <li><a asp-controller="Shop" asp-action="Index" asp-route-CategoryID="@child.Id">  @child.Name</a></li>
                            }
                        </li>
                    }
                    else
                    {
                        <li><a asp-controller="Shop" asp-action="Index" asp-route-CategoryID="@item.Id">@item.Name</a></li>
                    }
                }
            </ul>
        </div>
        <div class="sidebar_section filter_by_section">
            <div class="sidebar_title">Filter By</div>
            <div class="sidebar_subtitle">Price</div>
            <div class="filter_price">
                <div id="slider-range" class="slider_range"></div>
                <p>Range: </p>
                <p><input type="text" id="amount" class="amount" readonly style="border:0; font-weight:bold;"></p>
            </div>
        </div>
        <div class="sidebar_section">
            <div class="sidebar_subtitle color_subtitle">Color</div>
            <ul class="colors_list">
                <li class="color"><a href="#" style="background: #b19c83;"></a></li>
                <li class="color"><a href="#" style="background: #000000;"></a></li>
                <li class="color"><a href="#" style="background: #999999;"></a></li>
                <li class="color"><a href="#" style="background: #0e8ce4;"></a></li>
                <li class="color"><a href="#" style="background: #df3b3b;"></a></li>
                <li class="color"><a href="#" style="background: #ffffff; border: solid 1px #e1e1e1;"></a></li>
            </ul>
        </div>
        <div class="sidebar_section">
            <div class="sidebar_subtitle brands_subtitle">Brands</div>
            <ul class="brands_list">
                @foreach (var item in Model.Brands)
                {
                    <li class="brand"><a asp-controller="Shop" asp-action="Index" asp-route-BrandId="@item.Id">@item.Name</a></li>
                }
            </ul>
        </div>
    </div>

</div>